/********************General Section**********************/
*{
    margin: 0px;
    padding: 0px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.container{
    width:  41.04438642%;
    margin: 0px auto;
    font-family: lato,sans-serif;
}
.dark-background{
    background-color: #000;
}
.white-background{
    background-color: #fff;
}
.section-heading{
    padding-top: 80px;
    font-size: 29px;
    font-family: lato;
    letter-spacing: 3px;
    font-weight: 200px;
    text-transform: uppercase;
    text-align: center;
}
.no-padding-left{
    padding-left: 0px;
}
.no-padding-right{
    padding-right: 0px;
}
.no-padding-bottom{
    padding-bottom: 0px;
}
.top-padding-25{
    padding-top: 25px;
}
.top-padding-75{
    padding-top: 75px;
}
.top-margin-110{
    margin-top: 110px;
}
.top-margin-40{
    margin-top: 40px;
}
.top-margin-30{
    margin-top: 30px;
}
.bottom-margin-110{
    margin-bottom: 110px;
/*    display: block;*/
}
.bottom-margin-70{
    margin-bottom: 70px;
}
.bottom-margin-25{
    margin-bottom: 25px;
}
.bottom-margin-50{
    margin-bottom: 50px;
}

.bottom-padding-110{
    padding-bottom: 110px;
}
.bottom-padding-50{
    padding-bottom: 50px;
}
.italic{
    font-style: italic;
    color:#777;
}
.paragraph{
    text-align: justify;
}
.p1{
    padding: 5px;
}
.p2{
    padding: 10px;
}
.p3{
    padding: 15px;
}
.p4{
    padding: 25px;
}
.p5{
    padding: 40px;
}
.pull-right{
    float:right;
}
.clearfix{
    clear:both;
}



/*******************header section***********************/
#header{
    width: 100%;
    height: 45px;;
    background: #000000;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    left: 0;
    z-index: 9999;
    box-sizing: border-box;
}
#header ul{
    display: flex;
    list-style: none;
    align-items: center;
    color: #fff;
}
#header .search-me{
    display: flex;
    width: 55px;
    height: 45px;
    color:#fff;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
#header .search-me:hover{
    background: red;
    cursor: pointer;
    transition: all 0.2s;
}
#header>ul>li>a{
    text-decoration: none;
    height: 100%;
    padding:0.8rem 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: lato,sans-serif;
}
#header>ul>li>a:hover{
    background: #CBCBCB;
    color: #000;
    transition: all 0.2s;
}
#submenu{
    display: none;
}
#header .header-container .last-item:hover #submenu{
    display: block;
    transition: all 0.2s;
}
#submenu #submenu-container{
    display: flex;
    flex-direction: column;
    top:2rem;
}

#submenu #submenu-container li{
    text-align: left;
    margin-top: 1.5rem;
    background: #fff;
    width: 9rem;
    padding: 0.5rem;
    margin: 0px;
}
#submenu #submenu-container li:hover{
    background: #cbcbcb;
    cursor: pointer;
    transition: all 0.2s;
}
#submenu #submenu-container li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: lato,sans-serif;
    color: #000;
}



/*******************show case **************************/

#showcase{
    background: #333 url('images/my.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top:45;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
}
#showcase .overlay h2{
    font-weight: lighter;
    margin-bottom: 15px;
}



/******************band section***********************/

#band .italic{
    text-align: center;
}
#photograph-cards{
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#photograph-cards .card{
    display: flex;
    background: #fff;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 33.33333%;
    box-sizing: border-box;
    flex: 1;
}
#photograph-cards .card img{
    width:150px;
}
.band-name{
    display: inline-block;
}



/*******************tour dates**********************/

#tour .container{
    color: #fff;
    align-content: center;
    justify-content: center;
}
.tour-dates{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#tour .container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #fff;
    color: #777;
} 
#tour .container ul li span:not(.tickets-available){
    background: red;
    color: white;
    padding:2px;
    box-sizing: border-box;
    margin-left: 10px;
}

#tour .container ul li{
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}
.last-child{
    display: flex;
    justify-content: space-between;
}
.tickets-available{
    margin-right: 20px;
    border-radius: 50%;
    background: #000;
    color:#fff;
    width:30px;
    height:25px;
    text-align: center;
}

#tour .container .items{
    display: flex;
    justify-content: space-between;
}
#tour .container .items .item{
    text-align: left;
    width:32.00%;
    margin: 0px;
    background: #fff;
    color: #000;
}
#tour .container .items .item img{
    width:100%;
}
.buy-btn{
    background-color: #000;
    color:#fff;
    padding: 10px;
}
.buy-btn:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}
.top-bottom{
    margin: 20px 0px;
}

/************************CONTACT SECTION*****************/


#contact div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}
#contact .container .contact-details{
    display: flex;
/*    align-items: flex-start;*/
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}
#contact .container .contact-details .address{
    display: flex;
    flex: 1;
    align-items: flex-start;
    background: #fff;
    text-align: left;
    font-size: 20px;
}
#contact .container .contact-details .contact-input{
    flex: 1;
    width: 100%;
    display: flex;
    background: #fff;
    flex-direction: column;
}
#contact .container .contact-details .contact-input div{
    flex-direction: row;
    justify-content: space-between;
}
.w40{
    width: 45%;
    margin: 10px;
}
.w100{
    width:89%;
}
#contact .container .buy-class{
    width:100%;
    width: #ddd;
    align-items: flex-end;
    margin-right: 1rem;
    text-transform: uppercase;
}

#more{
    text-align: center;
    width: 100%;
    color: #000;
}
#more img{
    width: 100%;
}
#more div{
    font-size: 1.5rem;
}
#more div i{
    margin: 0.2rem;
    opacity: 0.60;
}
#more div i:hover{
     opacity: 0.40;   
}
.designed{
    text-align: center;
}


/*css for mobile view*/

@media (max-width: 550px) {
    #header ul li a{
        padding:1rem 0.8rem;
    }
    .container{
        width: 95%;
    }
    #band *{
        width: 100%;
    }
    #photograph-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    #photograph-cards .card{
        display: flex;
        flex: 1;
        width: 100%;
        margin-top: 1rem;
    }
    #photograph-cards .card img{
        width:60%;
    }
    #tour .container .items{
        display: flex;
        flex-direction: column;
    }
    #tour .container .items .item{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    #tour .container .items .item div span{
        padding: 0.7rem;
        margin-bottom: 0.5rem;
    }
    #contact .container .contact-details{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 1rem;
    }
    #contact .container .contact-details .contact-input *{
        margin: 0px;
        display: inline-block;
        width:100%;
        flex-direction: column;
        box-sizing: border-box;
    }
    #contact .container .contact-details .contact-input {
        margin-top: 1rem;
    }
    #contact .container .contact-details .contact-input>input{
        margin-top: 0.5rem;
    }
    #contact .container .contact-details .contact-input div input{
        width: 100%;
        box-sizing: border-box;
    }
    #contact .container .buy-class{
        align-items: flex-end;
        margin-right: 0.5rem;
    }
    #contact .container .buy-class span{
        padding:0.7rem 1.5rem;
        text-transform: uppercase;
        margin-right: 0rem;
        margin-top: 0.5rem;
        align-items: flex-end;
    }
}

















